<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add carriage</title>
</head>

<body>
    <h1>Add New carriage</h1>
    <form th:action="@{/carriages/addCarriage}" th:object="${carriage}" method="post">
        <div>
            <label for="carriageID">ID:</label>
            <input type="text" id="carriageID" th:field="*{carriageID}" required>
        </div>
        <div>
            <label for="carriageTypeID">Carriage type ID:</label>
            <input type="text" id="carriageTypeID" th:field="*{carriageTypeID}" required>
        </div> 
        <div>
            <label for="carriageCode">Carriage code:</label>
            <input type="text" id="carriageCode" th:field="*{carriageCode}" required>
        </div>
        <div>
            <label for="carriageName">Carriage name:</label>
            <input type="text" id="carriageName" th:field="*{carriageName}" required>
        </div>
        <div>
            <button type="submit">Add Carriage</button>
        </div>
    </form>
    <a th:href="@{/carriages}">Back to Carriage List</a>
</body>

</html>