<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add permission</title>
</head>

<body>
    <h1>Add New permission</h1>
    <div class="addPermission">
        <form th:action="@{/permissions/savePermission}" th:object="${permission}" method="post">
            <div>
                <label for="permissionName">permission Name:</label>
                <input type="text" id="permissionName" th:field="*{permissionName}" required>
            </div>
            <div>
                <button type="submit">Add permission</button>
            </div>
        </form>
        <a th:href="@{/permissions}">Back to permission List</a>
    </div>
</body>

</html>