<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Route</title>
</head>

<body>
    <h1>Add New Route</h1>
    <div class="addRoute">
        <form th:action="@{/routes/addRoute}" th:object="${route}" method="post">
            <div>
                <label for="routeName">Route Name:</label>
                <input type="text" id="routeName" th:field="*{routeName}" required>
            </div>
            <div>
                <label for="stationDepartureId">Station Departure:</label>
                <select id="stationDepartureId" th:field="*{stationDepartureId}" required>
                    <option value="">Select Station</option>
                    <option th:each="station : ${stations}" th:value="${station.stationId}" th:text="${station.stationName}"></option>
                </select>
            </div>
            <div>
                <label for="stationArrivalId">Station Arrival:</label>
                <select id="stationArrivalId" th:field="*{stationArrivalId}" required>
                    <option value="">Select Station</option>
                    <option th:each="station : ${stations}" th:value="${station.stationId}" th:text="${station.stationName}"></option>
                </select>
            </div>
            <div>
                <label for="trainId">Train:</label>
                <select id="trainId" th:field="*{trainId}" required>
                    <option value="">Select Train</option>
                    <option th:each="train : ${trains}" th:value="${train.trainId}" th:text="${train.trainName}"></option>
                </select>
            </div>
            <div>
                <input type="hidden" th:field="*{statusRoute}" value="1" />
            </div>
            <div>
                <button type="submit">Add Route</button>
            </div>
        </form>
        <a th:href="@{/routes}">Back to Route List</a>
    </div>
</body>

</html>