<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head"></head>

<body th:replace="/fragments/body :: body">

<div>
    <div th:fragment="mainContent">
        <h1 class="mb-4">Booking Information</h1>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add New Booking
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Booking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/bookings/saveBooking}" th:object="${booking}" method="post">
                            <input type="hidden" th:field="*{bookingId}">

                            <div class="form-group">
                                <label for="userId">User</label>
                                <select id="userId" th:field="*{userId}" class="form-control" required>
                                    <option value="" disabled selected>Select User</option>
                                    <option th:each="user : ${userList}" th:value="${user.userId}" th:text="${user.username}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="employeeId">Employee</label>
                                <select id="employeeId" th:field="*{employeeId}" class="form-control" required>
                                    <option value="" disabled selected>Select User</option>
                                    <option th:each="employee : ${employeeList}" th:value="${employee.employeeId}" th:text="${employee.employeeName}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="total">Total</label>
                                <input type="number" step="0.01" class="form-control" id="total" th:field="*{total}"
                                       placeholder="Enter Total Amount" required>
                            </div>
                            <div class="form-group">
                                <label for="dateBooking">Date of Booking</label>
                                <input type="date" class="form-control" id="dateBooking" th:field="*{dateBooking}"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="scheduleId">Schedule ID</label>
                                <select id="scheduleId" th:field="*{scheduleId}" class="form-control" required>
                                    <option value="" disabled selected>Select User</option>
                                    <option th:each="schedule : ${scheduleList}" th:value="${schedule.scheduleId}" th:text="${schedule.scheduleId}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="statusBooking">Status</label>
                                <select class="form-control" id="statusBooking" th:field="*{statusBooking}">
                                    <option th:value="1" th:text="'Active'"></option>
                                    <option th:value="0" th:text="'Inactive'"></option>
                                </select>
                            </div>

                            <div class="form-group d-flex justify-content-center align-items-center gap-2">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a th:href="@{/bookings}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailModalLabel">New Booking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>

        <!-- Search Booking -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
              method="get" action="/bookings">
            <div class="input-group">
                <input type="text" name="search" class="form-control bg-light border-0 small"
                       placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Booker Name</th>
                        <th>Booked Departure</th>
                        <th>Booked Arrival</th>
                        <th>Total Passenger</th>
                        <th>Total Money</th>
                        <th>Date Booking</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="tableContent">
                    <tr th:each="booking : ${bookingList}">
                        <td th:text="${booking.bookingId}"></td>
                        <td th:text="${booking.user.username}"></td>
                        <td th:text="${booking.schedule.stationDeparture.stationName}"></td>
                        <td th:text="${booking.schedule.stationArrival.stationName}"></td>
                        <td th:text="${numberOfPassenger.get(booking.getBookingId)}"></td>
                        <td th:text="${#numbers.formatDecimal(booking.total, 0, 'COMMA', 2, 'POINT')}"></td>
                        <td th:text="${#dates.format(booking.dateBooking, 'yyyy-MM-dd')}"></td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" class="toggle" th:checked="${booking.statusBooking == 1}"
                                       th:data-booking-id="${booking.bookingId}"
                                       th:data-status="${booking.statusBooking}">
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/bookings/editBooking/{id} (id=${booking.bookingId})}">Edit</a>
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/bookings/bookingDetails/{id} (id=${booking.bookingId})}">
                                Details</a>
                            </a>
                            <a class="btn btn-danger btn-sm"
                               th:href="@{/bookings/deleteBooking/{id} (id=${booking.bookingId})}" method="delete"
                               onclick="return confirm('Are you sure you want to delete this booking?');">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div
                th:replace="fragments/pagination :: paginationFragment (baseUrl='/bookings', currentPage=${currentPage}, totalPages=${totalPages})">
        </div>
    </div>
</div>

</body>

</html>
