<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
    <title>Coache List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body th:replace="/fragments/body :: body">
    <div th:fragment="mainContent" class="container mt-5">
        <h1 class="mb-4">Coache List</h1>

        <a class="addCoacheLink btn btn-primary mb-3" th:href="@{/coachees/newCoache}">Thêm Coache</a>
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th>Coache ID</th>
                    <th>Coache Name</th>
                    <th>Train ID</th>
                    <th>Train Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableContent">
                <tr th:each="coache : ${coacheList}">
                    <td th:text="${coache.coacheId}"></td>
                    <td th:text="${coache.coacheName}"></td>
                    <td th:text="${coache.trainId}"></td>
                    <td th:text="${coache.train.trainName}"></td>
                    <td th:text="${coache.statusCoache == 1 ? 'Active' : 'Inactive'}"></td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                            th:href="@{/coachees/editCoache/{id}(id=${coache.coacheId})}">Edit</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/coachees/deleteCoache/{id}(id=${coache.coacheId})}"
                            onclick="return confirm('Are you sure you want to delete this coache?');">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div
            th:replace="fragments/pagination :: paginationFragment (baseUrl='/coachees', currentPage=${currentPage}, totalPages=${totalPages})">
        </div>
</body>

</html>