<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
    <title>Route List</title>
</head>

<body th:replace="/fragments/body :: body">
    <div th:fragment="mainContent">
        <h1 class="mb-4">Route List</h1>
        <a class="addRouteLink btn btn-primary mb-3" th:href="@{/routes/newRoute}">Add Route</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Route Name</th>
                    <th>Station Departure</th>
                    <th>Station Arrival</th>
                    <th>Train</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableContent">
                <tr th:each="route : ${routes}">
                    <td th:text="${route.routeId}"></td>
                    <td th:text="${route.routeName}"></td>
                    <td th:text="${route.stationDeparture.stationName}"></td>
                    <td th:text="${route.stationArrival.stationName}"></td>
                    <td th:text="${route.train.trainName}"></td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" class="toggle" th:checked="${route.statusRoute == 1}"
                                th:data-route-id="${route.routeId}" th:data-status="${route.statusRoute}">
                            <span class="slider"></span>
                        </label>
                    </td>
                    <td>
                        <a th:href="@{/routes/editRoute/{routeId}(routeId=${route.routeId})}"
                            class="editRouteLink btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{/routes/deleteRoute/{id}(id=${route.routeId})}" class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to delete this route?');">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div
            th:replace="fragments/pagination :: paginationFragment (baseUrl='/routes', currentPage=${currentPage}, totalPages=${totalPages})">
        </div>
    </div>
</body>

</html>