<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Train</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
<div class="fixed-top">
    <div th:replace="/Client/Header :: Header"></div>
</div>

<form th:action="@{/account/updateAccount}" th:object="${user}" method="post">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold" th:text="${user.username}"></span>
                <span class="text-black-50" th:text="${user.email}"></span><span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="alert alert-success" role="alert" th:if="${message}">
                    <span th:text="${message}"></span>
                </div>

                <input type="hidden" th:field="*{userId}"/>
                <input type="hidden" th:field="*{roleId}"/>

                <!-- --Address, -Birthday, --Name, --Phone Number, --userId -->
                <!-- --Email, --Password, --Username, -roleId -->
                <div class="row md-6">
                    <div class="col-md-12 mb-3">
                        <label class="labels">Full Name</label>
                        <input type="text" th:field="${employee.employeeName}" class="form-control" placeholder="experience" required>
                    </div> <br>
                    <div class="col-md-12">
                        <label class="labels">Address</label>
                        <input type="text" th:field="${employee.address}" class="form-control" placeholder="adress">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Phone</label>
                        <input type="text" th:field="${employee.phone}" class="form-control" placeholder="phone number">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Date Of Birth</label>
                        <input type="date" th:field="${employee.dateOfBirth}" class="form-control" placeholder="birthdat">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <a class="btn btn-primary profile-button" th:href="@{/home}">Back To Home</a>
                    <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    <a class="btn btn-danger profile-button"
                       th:href="@{/account/deleteAccount/{id} (id=${user.userId})}" method="delete"
                        onclick="return confirm('Xác nhận tự hủy?');">Delete Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>Account Infomation</span>
                    <span class="border px-3 p-1 add-experience">
                        <i class="fa fa-plus"></i>&nbsp;Chosse Profile Image</span>
                </div><br>
                <div class="col-mt-2 row">
                    <div class="col-md-6">
                        <label class="labels">Username</label>
                        <input type="text" th:field="*{username}" class="form-control" placeholder="full name">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Role</label>
                        <label class="labels form-control" th:text="${user.role.roleName}"></label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" placeholder="enter email address" required>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Hashed Password</label>
                        <input type="text" th:field="*{password}" class="form-control overflow-hidden" placeholder="enter new raw password" required/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>


</body>
</html>