<div th:fragment="paginationFragment (baseUrl, currentPage, totalPages)">
    <div id="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Previous button -->
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="${currentPage > 0} ? (${baseUrl} + '?page=' + (${currentPage} - 1)) : '#'" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- First three pages -->
                <li class="page-item" th:each="i : ${#numbers.sequence(0, 2)}"
                    th:if="${totalPages > 6 and currentPage > 3}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="${baseUrl + '?page=' + i}" th:text="${i + 1}">1</a>
                </li>

                <!-- Ellipsis before current pages -->
                <li class="page-item" th:if="${currentPage > 3 and totalPages > 6}">
                    <span class="page-link">...</span>
                </li>

                <!-- Current, Previous, Next pages -->
                <li class="page-item" th:if="${currentPage > 0}">
                    <a class="page-link" th:href="${baseUrl + '?page=' + (currentPage - 1)}" th:text="${currentPage}">Prev</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" th:text="${currentPage + 1}">Current</a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages - 1}">
                    <a class="page-link" th:href="${baseUrl + '?page=' + (currentPage + 1)}" th:text="${currentPage + 2}">Next</a>
                </li>

                <!-- Ellipsis after current pages -->
                <li class="page-item" th:if="${currentPage < totalPages - 4 and totalPages > 6}">
                    <span class="page-link">...</span>
                </li>

                <!-- Last three pages -->
                <li class="page-item" th:each="i : ${#numbers.sequence(totalPages - 3, totalPages -1)}"
                    th:if="${totalPages > 6 and currentPage < totalPages - 3}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="${baseUrl + '?page=' + i}" th:text="${i + 1}">1</a>
                </li>

                <!-- Next button -->
                <li class="page-item" th:classappend="${currentPage == totalPages -1} ? 'disabled'">
                    <a class="page-link" th:href="${currentPage < totalPages -1} ? (${baseUrl} + '?page=' + (${currentPage} + 1)) : '#'" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>