<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="/css/statistic.css">
</head>

<body th:replace="fragments/body :: body">
    <div>
        <div th:fragment="mainContent">
            
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
            <script>
                // Hàm tải dữ liệu biểu đồ
                function loadChartData(endpoint, chartId, chartType, labelsKey, dataKey, chartLabel, chartOptions = {}) {
                    axios.get(endpoint)
                        .then(response => {
                            const labels = response.data.map(item => `${item.year}-${item.month}-${item.day}`);
                            const data = response.data.map(item => item[dataKey]);

                            const ctx = document.getElementById(chartId).getContext('2d');
                            if (window[chartId] instanceof Chart) {
                                window[chartId].destroy();
                            }

                            window[chartId] = new Chart(ctx, {
                                type: chartType,
                                data: {
                                    labels: labels,
                                    datasets: [chartLabel].map((label, index) => ({
                                        label: label,
                                        data: data,
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        borderColor: 'rgba(54, 162, 235, 1)',
                                        borderWidth: 2,
                                        tension: 0.4,
                                        pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                                        pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
                                        pointRadius: 5,
                                        pointHoverRadius: 7
                                    }))
                                },
                                options: {
                                    scales: {
                                        x: {
                                            ticks: {
                                                maxRotation: 0, // Không cho phép xoay nhãn
                                                maxTicksLimit: 6 // Giới hạn số lượng nhãn tối đa là 6
                                            }
                                        }
                                    },
                                    plugins: {
                                        title: {
                                            display: true,
                                            text: chartLabel
                                        },
                                        zoom: {
                                            pan: {
                                                enabled: true, // Cho phép kéo qua kéo lại trên trục x
                                                mode: 'x' // Chỉ kéo qua kéo lại trên trục x
                                            },
                                            zoom: {
                                                wheel: {
                                                    enabled: true // Cho phép phóng to / thu nhỏ bằng cách cuộn chuột
                                                },
                                                // pinch: {
                                                //     enabled: true // Cho phép phóng to / thu nhỏ bằng cách chạm và kéo trên thiết bị cảm ứng
                                                // },
                                                mode: 'x' // Chỉ phóng to / thu nhỏ trên trục x
                                            }
                                        }
                                    }
                                }
                            });
                        })
                        .catch(error => console.error(error));
                }

                // Hàm tải dữ liệu biểu đồ kết hợp
                function loadCombinedChartData() {
                    const endpoints = [
                        '/statistics/tickets-by-year-month',
                        '/statistics/routes-by-run-and-train',
                        '/statistics/train-runs-by-day-month-year'
                    ];

                    Promise.all(endpoints.map(endpoint => axios.get(endpoint)))
                        .then(responses => {
                            const labels = responses[0].data.map(item => `${item.year}-${item.month}`);
                            const ticketData = responses[0].data.map(item => item.ticketCount);
                            const routeData = responses[1].data.map(item => item.runCount);
                            const trainRunData = responses[2].data.map(item => item.count);

                            const ctx = document.getElementById('combinedChart').getContext('2d');
                            if (window.combinedChart instanceof Chart) {
                                window.combinedChart.destroy();
                            }

                            window.combinedChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [
                                        {
                                            label: 'Số lượng vé',
                                            data: ticketData,
                                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                            borderColor: 'rgba(54, 162, 235, 1)',
                                            borderWidth: 2,
                                            tension: 0.4,
                                            pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                                            pointHoverBackgroundColor: 'rgba(255, 99, 132, 1)',
                                            pointRadius: 5,
                                            pointHoverRadius: 7
                                        },
                                        {
                                            label: 'Số lần chạy',
                                            data: routeData,
                                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                            borderColor: 'rgba(255, 206, 86, 1)',
                                            borderWidth: 2,
                                            tension: 0.4,
                                            pointBackgroundColor: 'rgba(255, 206, 86, 1)',
                                            pointHoverBackgroundColor: 'rgba(75, 192, 192, 1)',
                                            pointRadius: 5,
                                            pointHoverRadius: 7
                                        },
                                        {
                                            label: 'Số lần chạy tàu',
                                            data: trainRunData,
                                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                                            borderColor: 'rgba(153, 102, 255, 1)',
                                            borderWidth: 2,
                                            tension: 0.4,
                                            pointBackgroundColor: 'rgba(153, 102, 255, 1)',
                                            pointHoverBackgroundColor: 'rgba(255, 159, 64, 1)',
                                            pointRadius: 5,
                                            pointHoverRadius: 7
                                        }
                                    ]
                                },
                                options: {
                                    scales: {
                                        x: {
                                            ticks: {
                                                maxRotation: 0, // Không cho phép xoay nhãn
                                                maxTicksLimit: 6 // Giới hạn số lượng nhãn tối đa là 6
                                            }
                                        }
                                    },
                                    plugins: {
                                        title: {
                                            display: true,
                                            text: 'Thống kê kết hợp'
                                        },
                                        zoom: {
                                            pan: {
                                                enabled: true, // Cho phép kéo qua kéo lại trên trục x
                                                mode: 'x' // Chỉ kéo qua kéo lại trên trục x
                                            },
                                            zoom: {
                                                wheel: {
                                                    enabled: true // Cho phép phóng to / thu nhỏ bằng cách cuộn chuột
                                                },
                                                // pinch: {
                                                //     enabled: true // Cho phép phóng to / thu nhỏ bằng cách chạm và kéo trên thiết bị cảm ứng
                                                // },
                                                mode: 'x' // Chỉ phóng to / thu nhỏ trên trục x
                                            }
                                        }
                                    }
                                }
                            });
                        })
                        .catch(error => console.error(error));
                }

                // Tải các biểu đồ
                function loadCharts() {
                    // Biểu đồ Doanh thu
                    loadChartData(
                        '/statistics/revenue-by-day-month-year',
                        'revenueByDayMonthYearChart',
                        'line',
                        'date',
                        'revenue',
                        'Doanh thu (VND)'
                    );
                    // Biểu đồ Kết hợp
                    loadCombinedChartData();
                }

                // Gọi hàm loadCharts khi tải trang
                document.addEventListener("DOMContentLoaded", loadCharts);
            </script>

            <div class="container">
                <!-- Biểu đồ Doanh thu -->
                <div class="chart">
                    <h2>Biểu đồ Doanh thu theo Ngày, Tháng, Năm</h2>
                    <p>Biểu đồ này hiển thị doanh thu hàng ngày của công ty.</p>
                    <div class="chart-container">
                        <canvas id="revenueByDayMonthYearChart"></canvas>
                    </div>
                </div>

                <!-- Biểu đồ Kết hợp -->
                <div class="chart">
                    <h2>Biểu đồ Kết hợp</h2>
                    <p>Biểu đồ này kết hợp số lượng vé và số lần chạy.</p>
                    <div class="chart-container">
                        <canvas id="combinedChart"></canvas>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="trainRunsByMonthChart"></canvas>
                    </div>
                </div>
            </div>

            <h2 class="text-center mb-4">Thống Kê Tổng Quan</h2>

            <div class="stats-container">
                <div class="stat-card">
                    <div class="stat-title">Tổng Số Nhân Viên</div>
                    <div class="stat-value" th:text="${totalEmployees}">0</div>
                </div>
                <div class="stat-card">
                    <div class="stat-title">Tổng Số Hành Khách</div>
                    <div class="stat-value" th:text="${totalPassengers}">0</div>
                </div>
                <div class="stat-card">
                    <div class="stat-title">Tổng Số Chuyến Tàu</div>
                    <div class="stat-value" th:text="${totalSchedules}">0</div>
                </div>
                <div class="stat-card">
                    <div class="stat-title">Tổng Số Vé Đang Hoạt Động</div>
                    <div class="stat-value" th:text="${activeTickets}">0</div>
                </div>
                <div class="stat-card">
                    <div class="stat-title">Tổng Doanh Thu</div>
                    <div class="stat-value revenue" th:text="${#numbers.formatDecimal(totalRevenue, 0, 'COMMA', 0, 'POINT')} + ' VND'">0</div>
                </div>
                <div class="stat-card">
                    <div class="stat-title">Tổng Số Tàu Hoạt Động</div>
                    <div class="stat-value" th:text="${activeTrains}">0</div>
                </div>
                <div class="stat-card">
                    <div class="stat-title">Tổng Số Tuyến Đường Hoạt Động</div>
                    <div class="stat-value" th:text="${activeRoutes}">0</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>