<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body th:replace="/fragments/body :: body">

    <div th:fragment="mainContent" class="container mt-5">
        <h1 class="text-center mb-4">Add Passenger</h1>
        <form class="form align-content-center" th:action="@{/passengers/savePassenger}" th:object="${passenger}"
            method="post">
            <input type="hidden" th:field="*{passengerId}">
            <div class="form-group row">
                <label for="fullName" class="col-sm-2 col-form-label">Full Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="fullName" th:field="*{passengerName}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="dateOfBirth" class="col-sm-2 col-form-label">Date of Birth:</label>
                <div class="col-sm-10">
                    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" class="form-control" required />
                </div>
            </div>
           
            
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" id="phone" th:field="*{phone}" class="form-control" required />
                </div>
            </div>



            <div class="form-group row">
                <label for="objectId" class="col-sm-2 col-form-label">Object:</label>
                <div class="col-sm-10">
                    <select id="objectId" th:field="*{objectId}" class="form-select" required>
                        <option th:each="object : ${objects}" th:value="${object.objectId}"
                            th:text="${object.objectName}">
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Add Passenger</button>
                </div>
            </div>
        </form>
        <div class="text-center mt-3">
            <a th:href="@{/passengers}" class="btn btn-secondary">Back to Passenger List</a>
        </div>
    </div>

</body>

</html>