<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: head">
    <title>Edit Seat Type</title>
</head>

<body th:replace="/fragments/body :: body">

    <div th:fragment="mainContent">
        <h1 class="mb-4">Edit Seat Type</h1>
        <form th:action="@{/seatTypes/updateSeatType}" th:object="${seatType}" method="post">
            <input type="hidden" th:field="*{seatTypeId}" />
            <div class="form-group">
                <label for="seatTypeName">Seat Type Name</label>
                <input type="text" id="seatTypeName" th:field="*{seatTypeName}" class="form-control"
                    placeholder="Enter Seat Type Name" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" th:field="*{price}" class="form-control" placeholder="Enter Price"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a th:href="@{/seatTypes}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

</body>

</html>