<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

    <div>
        <div th:fragment="mainContent">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edit Station</h6>
                </div>
                <div class="card-body">
                    <form th:action="@{/stations/updateStation}" th:object="${station}" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" th:field="*{stationId}">
                        <div class="form-group">
                            <label for="stationCode">Station Code</label>
                            <input type="text" class="form-control" id="stationCode" th:field="*{stationCode}"
                                placeholder="Enter Station Code" required>
                        </div>
                        <div class="form-group">
                            <label for="stationName">Station Name</label>
                            <input type="text" class="form-control" id="stationName" th:field="*{stationName}"
                                placeholder="Enter Station Name" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" th:field="*{description}"
                                placeholder="Enter description" required>
                        </div>
                        <div class="form-group">
                            <label for="statusStation">Status</label>
                            <select class="form-control" id="statusStation" th:field="*{statusStation}">
                                <option th:value="1" th:text="'Active'"></option>
                                <option th:value="0" th:text="'Inactive'"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input type="number" step="any" class="form-control" id="latitude" th:field="*{latitude}"
                                placeholder="Enter Latitude">
                        </div>
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="number" step="any" class="form-control" id="longitude" th:field="*{longitude}"
                                placeholder="Enter Longitude">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" th:field="*{address}"
                                placeholder="Enter Address">
                        </div>

                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" class="form-control" id="image" name="imageFile">
                            <div th:if="${station.image}">
                                <img th:src="@{'/img/stationImg/' + ${station.image}}" alt="Station Image"
                                    style="width: 100px; height: auto;" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a th:href="@{/stations}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>