<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/header :: head">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body th:replace="/fragments/body :: body">

    <div th:fragment="mainContent" class="container mt-5">
        <h1 class="text-center mb-4">Edit Schedule</h1>
        <form class="form align-content-center" th:action="@{/schedules/updateSchedule}" th:object="${schedule}"
            method="post">
            <input type="hidden" th:field="*{scheduleId}" />

            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>

            <div class="form-group row">
                <label for="trainId" class="col-sm-2 col-form-label">Train ID:</label>
                <div class="col-sm-10">
                    <select id="trainId" th:field="*{trainId}" class="form-control" required>
                        <option value="" disabled selected>Select Train</option>
                        <option th:each="train : ${trainList}" th:value="${train.trainId}" th:text="${train.trainName}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="startDeparture" class="col-sm-2 col-form-label">Start Departure:</label>
                <div class="col-sm-10">
                    <input type="date" id="startDeparture" th:field="*{startDeparture}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label for="endDeparture" class="col-sm-2 col-form-label">End Departure:</label>
                <div class="col-sm-10">
                    <input type="date" id="endDeparture" th:field="*{endDeparture}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label for="stationArrivalId" class="col-sm-2 col-form-label">Station Arrival:</label>
                <div class="col-sm-10">
                    <select id="stationArrivalId" th:field="*{stationArrivalId}" class="form-control" required>
                        <option value="">Select Station</option>
                        <option th:each="station : ${stationList}" th:value="${station.stationId}"
                            th:text="${station.stationName}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="stationDepartureId" class="col-sm-2 col-form-label">Station Departure:</label>
                <div class="col-sm-10">
                    <select id="stationDepartureId" th:field="*{stationDepartureId}" class="form-control" required>
                        <option value="">Select Station</option>
                        <option th:each="station : ${stationList}" th:value="${station.stationId}"
                            th:text="${station.stationName}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="routeId" class="col-sm-2 col-form-label">Route:</label>
                <div class="col-sm-10">
                    <select id="routeId" th:field="*{routeId}" class="form-control" required>
                        <option value="">Select Route</option>
                        <option th:each="route : ${routeList}" th:value="${route.routeId}" th:text="${route.routeName}">
                        </option>
                    </select>
                </div>
            </div>

            <!-- Hidden Status Field -->
            <input type="hidden" th:field="*{statusSchedule}" value="1" />

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                </div>
            </div>
        </form>
        <div class="text-center mt-3">
            <a th:href="@{/schedules}" class="btn btn-secondary">Back to Schedule List</a>
        </div>
    </div>

</body>

</html>